[Unit]
Description=RPi Power Controller
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
User=pi
Type=simple
WorkingDirectory=/opt/rpi-powercontroller
ExecStart=/opt/rpi-powercontroller/controller-start.sh
ExecStop=/opt/rpi-powercontroller/controller-stop.sh
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
